@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: transparent;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;

    &__logo-link {
        margin-right: 20px;
        z-index: 200;
    }

    &__small {
        display: none;
    }

    &__items {
        display: flex;
        align-items: center;

        @media (max-width: 992px) {
            transform: translateY(-200%);
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            flex-direction: column;
            z-index: 5;
            background-color: $silver2;
            transition: transform 1s;
            padding: 150px 0 150px;

            &.menu__items--active {
                transform: translateY(0%);
            }
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }

        @media (max-width: 992px) {
            width: 100%;
            text-align: center;
            display: block;

            &:not(:last-child) {
                margin: 0px 0px 20px 0px;
            }
        }
    }

    &__logo {
        width: 180px;
        height: 86px;
    }

    &__link {
        transition: color 0.5s;
        outline-color: $black;
        outline-offset: 5px;

        @media (max-width: 992px) {
            display: block;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $hover;
        }

        &:active {
            color: $hover;
        }
    }

    &__btn {
        display: none;

        @media (max-width: 992px) {
            margin-left: 40px;
            width: 30px;
            height: 22px;
            position: relative;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            padding: 0;
            z-index: 10;

            span {
                height: 3px;
                width: 100%;
                background-color: $black;
            }

            &::before,
            &::after {
                position: absolute;
                content: '';
                height: 3px;
                width: 100%;
                background-color: $black;
            }

            &::before {
                content: '';
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    .menu__btn.menu__items--active span {
        transform: scale(0);
    }

    .menu__btn.menu__items--active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .menu__btn.menu__items--active::after {
        transform: rotate(-45deg);
        bottom: 10px;
    }
}

.intro {
    height: 100vh;
    padding-top: 100px;
    z-index: 999;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (max-width: 992px) {
        background-position: left;
    }

    @media (max-width: 768px) {
        background-position: 15% 0%;
    }

    @media (max-width: 576px) {
        background-position: 32% 0%;
    }

    &__box {
        max-width: 350px;
    }

    &__title {
        font-size: 45px;
        margin-bottom: 10px;

        @media (max-width: 992px) {
            font-size: 36px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 576px) {
            font-size: 25px;
        }
    }

    &__link {
        font-size: 20px;
        padding: 15px;
        display: inline-block;
    }
}

.about {
    &__inner {
        height: 100vh;
        display: flex;
        align-items: center;
        background-image: url('../images/besocial_cat_4_2.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 559px 779px;

        @media (max-width: 1200px) {
            background-size: 50% 80%;
        }

        @media (max-width: 992px) {
            background-size: 40% 50%;
            padding: 40px 0;
            align-items: flex-start;
            background-position: 50% 90%;
            justify-content: center;
        }

        @media (max-width: 576px) {
            padding: 30px 0;
            background-size: 300px 500px;
            background-position: 50% 97%;
        }
    }

    &__box {
        max-width: 500px;

        @media (max-width: 992px) {
            max-width: 415px;
        }
    }

    &__title {
        margin-bottom: 20px;
        max-width: 420px;

        @media (max-width: 992px) {
            font-size: 36px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 576px) {
            font-size: 25px;
        }
    }

    &__text {
        color: $black3;
        font-size: 24px;

        @media (max-width: 992px) {
            font-size: 20px;
        }

        @media (max-width: 576px) {
            font-size: 18px;
        }
    }
}

.income {
    height: 100vh;
    padding: 50px 0;
    background-color: $silver;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width: 992px) {
        padding: 40px 0;
    }

    @media (max-width: 576px) {
        padding: 30px 0;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: -13%;
        left: -80px;
        background-image: url('../images/cat-with-tongue.svg');
        background-repeat: no-repeat;
        background-position: center;
        height: 585px;
        width: 490px;

        @media (max-width: 1200px) {
            background-image: none;
        }
    }

    &__logo {
        width: 220px;
        height: 105px;
        object-fit: cover;

        @media (max-width: 1200px) {
            margin: 0px 30px 30px 0px;
        }

        @media (max-width: 768px) {
            margin: 0px 20px 20px 0px;
        }

        @media (max-width: 576px) {
            width: 140px;
            height: 65px;
        }
    }

    // &__svg {
    //     display: flex;
    // }

    &__wraper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // align-items: center;

        @media (max-width: 1200px) {
            justify-content: flex-start;
        }
    }

    &__title {
        max-width: 760px;
        margin-bottom: 20px;
    }

    &__text {
        color: $black3;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 80px;
        font-size: 22px;

        @media (max-width: 768px) {
            margin-bottom: 20px;
            font-size: 16px;
        }
    }

    &__text p {
        max-width: 350px;

        @media (max-width: 768px) {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.statistics {
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__item {
        color: $hover;
        font-size: 72px;
        font-weight: 700;
        margin-right: 20px;

        @media (max-width: 992px) {
            font-size: 56px;
        }

        @media (max-width: 768px) {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        @media (max-width: 576px) {
            font-size: 46px;
        }
    }

    &__text {
        color: $black2;
        font-size: 20px;

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }
}

.terms {
    height: 100vh;
    padding: 50px 0;
    background-color: $violet;
    color: $white;
    display: flex;
    align-items: center;

    @media (max-width: 1200px) {
        height: 100%;
    }

    @media (max-width: 992px) {
        padding: 40px 0;
    }

    @media (max-width: 576px) {
        padding: 30px 0;
    }

    &__title {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;

        @media (max-width: 992px) {
            font-size: 36px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 576px) {
            font-size: 25px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px 15px;

        @media (max-width: 1200px) {
            justify-content: center;
        }
    }

    &__item {
        padding: 15px;
        background-color: $violet2;
        width: 220px;
        height: 515px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 20px;
            right: -15px;
            height: 275px;
            width: 250px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: 2;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 220px;
            width: 220px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &--salary {
            &::before {
                background-image: url('../images/terms/salary1.svg');
            }

            &::after {
                background-image: url('../images/terms/1b.svg');
            }
        }

        &--career {
            &::before {
                background-image: url('../images/terms/career2.svg');
            }

            &::after {
                background-image: url('../images/terms/b2.svg');
            }
        }

        &--freedom {
            &::before {
                background-image: url('../images/terms/location3.svg');
            }

            &::after {
                background-image: url('../images/terms/b3.svg');
            }
        }

        &--location {
            &::before {
                background-image: url('../images/terms/freedom4.svg');
            }

            &::after {
                background-image: url('../images/terms/b4.svg');
            }
        }

        &--english {
            &::before {
                background-image: url('../images/terms/english5.svg');
            }

            &::after {
                background-image: url('../images/terms/b5.svg');
            }
        }
    }

    &__subtitle {
        color: $hover;
        font-size: 28px;
        margin-bottom: 10px;

        @media (max-width: 576px) {
            font-size: 25px;
        }
    }

    // &__text {
    //     // margin-bottom: 50px;
    // }
}

.schedule {
    height: 100vh;
    padding: 50px 0px;
    background-color: $silver;
    text-align: center;
    display: flex;
    align-items: center;

    // @media (max-width: 1200px) {
    //     height: 100%;
    // }

    @media (max-width: 992px) {
        padding: 40px 0px;
    }

    @media (max-width: 576px) {
        padding: 30px 0px;
    }

    &__title {
        margin-bottom: 30px;

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }

    &__text {
        color: $black3;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 30px;

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px 40px;

        &:not(:last-child) {
            margin-bottom: 40px; // !!!тут надо было как то по другому
        }

        @media (max-width: 1200px) {
            justify-content: center;
        }
    }

    &__item {
        width: 300px;
        padding: 30px;
        color: $white;
        position: relative;
        border-radius: 10px;

        &::before {
            content: "";
            position: absolute;
            top: 22px;
            left: 50%;
            transform: translateX(-50%);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &--circle {
            background-color: $hover;

            &::before {
                background-image: url('../images/icons/circle.svg');
                height: 40px;
                width: 40px;
            }
        }

        &--sunset {
            background-color: $violet;

            &::before {
                background-image: url('../images/icons/sunset.svg');
                height: 39px;
                width: 60px;
            }
        }

        &--month {
            background-color: $black2;

            &::before {
                background-image: url('../images/icons/month.svg');
                height: 45px;
                width: 30px;
            }
        }

        @media (max-width: 576px) {
            padding: 20px;
        }
    }

    &__box {
        padding-top: 50px;
    }

    &__number {
        font-weight: 700;
        font-size: 27px;
    }

    &__subtext {
        font-weight: 400;
    }

    &__svg {
        margin-bottom: 10px;
    }
}

.price {
    min-height: 850px;
    height: 100vh;
    padding: 50px 0px;

    @media (max-width: 1200px) {
        height: 100%;
    }

    @media (max-width: 992px) {
        padding: 40px 0px;
    }

    @media (max-width: 576px) {
        padding: 20px 0px;
    }

    &__title {
        margin-bottom: 30px;

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px 20px;

        @media (max-width: 1200px) {
            justify-content: center;
        }
    }

    &__subtitle {
        font-size: 32px;
        margin-bottom: 10px;

        @media (max-width: 576px) {
            font-size: 25px;
        }
    }

    &__text {
        font-size: 18px;
        margin-bottom: 75%;
        min-height: 55px;

        &:not(:last-child) {
            margin-bottom: 30px;

            @media (max-width: 576px) {
                margin-bottom: 20px;
            }
        }
    }

    &__items {
        list-style: disc;
        padding-left: 20px;
        margin-bottom: auto;

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }

    &__items li {
        font-weight: 400;
    }

    &__item {
        position: relative;
    }

    &__img {
        min-height: 680px;
        max-width: 360px;
        object-fit: cover;

        @media (max-width: 576px) {
            width: 320px;
        }
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 680px;
        //min-height для работі маржин батом
        padding: 30px;
        display: flex;
        background-color: transparent;
        transition: color 0.5s;
        border: none;
        color: $white;

        @media (max-width: 576px) {
            padding: 20px;
        }

        &:focus {
            color: $white;
        }

        &:hover {
            -webkit-filter: brightness(90%);
        }

        &:active {
            color: $white;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }

    &__form {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        overflow-y: auto;
        overflow-x: hidden;
        backdrop-filter: blur(4rem);
        display: none;
        z-index: 100;
    }

    &__modal {
        max-width: 560px;
    }

    &__images {
        width: 560px;
        height: 228px;
    }
}

.contacts {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../images/collection-of-cats.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 50%;

        @media (max-width: 768px) {
            background-image: none;
        }
    }

    &__inner {
        display: flex;
        justify-content: flex-end;
    }

    &__img {
        width: 695px;
        min-height: 730px;
        object-fit: cover;
    }

    &__box {
        background-color: $silver;
        padding: 50px;
        width: 50%;

        @media (max-width: 992px) {
            padding: 40px;
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        @media (max-width: 576px) {
            padding: 30px 15px;
        }
    }
}

.form {
    color: $black2;

    &__title {
        margin-bottom: 20px;
    }

    &__subtext {
        color: $black3;
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__label {
        display: block;
    }

    &__input {
        width: 100%;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 100%;
        margin-bottom: 20px;
        // проверить нужеен ли ласт чайлд
        background-color: transparent;
        outline: none;
        padding: 20px 0px;
    }

    &__box {
        position: absolute;
        display: flex;
        align-items: center;
    }

    &__link {
        padding: 20px 50px;
        margin-bottom: 20px;

        @media (max-width: 992px) {
            padding: 20px 40px;
        }

        @media (max-width: 576px) {
            padding: 20px 30px;
        }
    }

    &__text {
        color: $silver2;
        font-size: 12px;
        line-height: 1.5;
    }
}

.footer {
    background-color: $black2;
    padding: 50px 50px 50px 0px;
    color: $white;

    @media (max-width: 992px) {
        padding: 40px;
    }

    @media (max-width: 576px) {
        padding: 30px 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px 20px;
    }

    &__info {
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__link {
        font-size: 18px;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;
        }

        &--telegram {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                height: 50px;
                width: 50px;
                background-image: url('../images/icons/telegram.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }

    &__item {

        &--item {
            @media (max-width: 576px) {
                padding-bottom: 50px;
            }
        }

        @media (max-width: 576px) {

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            // width: 100%;
            // возможно надо сдлеать 100 ширены !!!
        }
    }

    &__logo {
        width: 180px;
        height: 28px;
    }

    &__text {
        max-width: 135px;
        font-weight: 400;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__box {
        display: block;
    }

    &__inner {
        display: flex;
    }

    &__subtext {
        font-weight: 400;
        margin-bottom: 10px;
        padding-left: 30px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 20px;
            background-image: url('../images/icons/geo.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__info span {
        font-size: 18px;
        padding-left: 10px;
    }

    &__svg {
        margin-right: 10px;
    }

    &__maps {
        color: $black2;
        font-size: 14px;
        padding: 10px;
        max-width: 130px
    }
}

.modal {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    backdrop-filter: blur(4rem);
    display: none;
    font-weight: 400;
    line-height: 1.5;

    &::before {
        content: "";
        position: absolute;
        top: 2%;
        right: 2%;
        height: 30px;
        width: 30px;
        background-image: url('../images/icons/cross.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        transition: color 0.5s;
    }

    &__inner {
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        max-width: 560px;
    }

    &__button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 22px;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        z-index: 100;
        cursor: pointer;

        span {
            height: 3px;
            width: 100%;
            background-color: $black;
            transform: scale(0);
        }

        &::before,
        &::after {
            position: absolute;
            content: '';
            height: 3px;
            width: 100%;
            background-color: $black;
        }

        &::before {
            content: '';
            // top: 0;
            top: 9px;
            transform: rotate(45deg);
        }

        &::after {
            // bottom: 0;
            bottom: 10px;
            transform: rotate(-45deg);
        }

        &__btn::after {
            transform: rotate(-45deg);
        }
    }

    &__images {
        width: 560px;
        height: 290px;
        object-fit: cover;
        display: block;

        @media (max-width: 576px) {
            object-position: right;
        }
    }

    &__box {
        padding: 40px 30px;
        background-color: $white;

        @media (max-width: 992px) {
            padding: 30px;
        }

        @media (max-width: 576px) {
            padding: 20px;
        }
    }

    &__label {
        display: block;
    }

    &__input {
        margin-bottom: 20px;
        padding: 20px 0px;
        display: block;
        width: 100%;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 100%;
        background-color: transparent;
        outline: none;
    }

    &__link {
        padding: 15px 0;
        width: 100%;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 14px;
        margin-bottom: 20px;
        text-align: center;

        @media (max-width: 576px) {
            text-align: start;
        }

        &--color {
            color: $silver2;
        }
    }

    &__title {
        color: $black2;
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: center;
    }

    @media (max-width: 576px) {
        font-size: 25px;
    }
}


.active-modal {
    display: flex;
}

.header-fixed {
    position: fixed;
    padding: 13px 0;
    background-color: $silver;

    .menu {
        padding-top: 0;
    }

    .menu__logo {
        display: none;
    }

    .menu__small {
        display: block;
        width: 150px;
        height: 25px;
    }
}

@import 'media';