@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.menu {
    .menu__btn {
        display: none;
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: transparent;
}

.menu {
    display: flex;
    justify-content: space-between;

    padding-top: 15px;

    // &__btn {}

    &__items {
        display: flex;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__logo {
        width: 180px;
        height: 86px;
    }

    &__link {
        transition: color 0.5s;
        outline-color: $black;
        outline-offset: 5px;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;
        }
    }
}

.intro {
    height: 100vh;
    padding-top: 100px;
    z-index: 999;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../images/icons/cats.svg');

    &__box {
        max-width: 350px;
    }

    &__title {
        font-size: 45px;
        margin-bottom: 10px;
    }

    &__link {
        font-size: 20px;
        padding: 15px;
        display: inline-block;
    }
}

.about {
    &__inner {
        // padding: 150px 0;
        height: 100vh;
        padding: 220px 0;
        display: flex;
        align-items: center;
        background-image: url('../images/icons/besocial_cat_4_2.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 559px 779px;
        // background-size: 459px 679px;
    }

    &__box {
        max-width: 500px;
    }

    &__title {
        margin-bottom: 20px;
        max-width: 420px;
    }

    &__text {
        color: $black3;
        font-size: 24px;
    }

    &__img {}
}

.income {
    height: 100vh;
    padding: 50px 0;
    background-color: $silver;
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        // bottom: -60%;
        // left: -15%;
        bottom: -13%;
        left: -3%;
        height: 595px;
        width: 500px;
        background-image: url('../images/besocial_cat_5.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__logo {
        width: 220px;
        height: 105px;
        object-fit: cover;
    }

    &__svg {
        display: flex;
    }

    &__wraper {
        display: flex;
        justify-content: space-between;

    }

    &__title {
        max-width: 760px;
        margin-bottom: 20px;
    }

    &__text {
        color: $black3;
        font-size: 19px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    &__text p {
        max-width: 350px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__box {}
}

.statistics {
    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        color: $hover;
        font-size: 72px;
        font-weight: 700;
    }

    &__text {
        color: $black2;
        font-size: 20px;
    }
}

.terms {
    height: 100vh;
    padding: 50px 0;
    background-color: $violet;
    color: $white;

    &__title {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    &__item {
        padding: 15px;
        background-color: $violet2;
        width: 220px;
        height: 540px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 20px;
            right: -15px;
            height: 275px;
            width: 250px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: 2;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 220px;
            width: 220px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &--salary {
            &::before {
                background-image: url('../images/terms/salary1.svg');
            }

            &::after {
                background-image: url('../images/terms/1b.svg');
            }
        }

        &--career {
            &::before {
                background-image: url('../images/terms/career2.svg');
            }

            &::after {
                background-image: url('../images/terms/b2.svg');
            }
        }

        &--freedom {
            &::before {
                background-image: url('../images/terms/location3.svg');
            }

            &::after {
                background-image: url('../images/terms/b3.svg');
            }
        }

        &--location {
            &::before {
                background-image: url('../images/terms/freedom4.svg');
            }

            &::after {
                background-image: url('../images/terms/b4.svg');
            }
        }

        &--english {
            &::before {
                background-image: url('../images/terms/english5.svg');
            }

            &::after {
                background-image: url('../images/terms/b5.svg');
            }
        }
    }

    &__subtitle {
        color: $hover;
        font-size: 28px;
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 50px;
    }
}

.schedule {
    height: 100vh;
    padding: 50px 0px;
    background-color: $silver;
    text-align: center;

    &__title {
        color: $black2;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__text {
        color: $black3;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0px 40px;

        &:not(:last-child) {
            margin-bottom: 50px; // !!!тут надо было как то по другому
        }
    }

    &__item {
        width: 300px;
        padding: 30px;
        color: $white;
        position: relative;
        border-radius: 10px;

        &::before {
            content: "";
            position: absolute;
            top: 22px;
            left: 50%;
            transform: translateX(-50%);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &--circle {
            background-color: $hover;

            &::before {
                background-image: url('../images/icons/circle.svg');
                height: 40px;
                width: 40px;
            }
        }

        &--sunset {
            background-color: $violet;

            &::before {
                background-image: url('../images/icons/sunset.svg');
                height: 39px;
                width: 60px;
            }
        }

        &--month {
            background-color: $black2;

            &::before {
                background-image: url('../images/icons/month.svg');
                height: 45px;
                width: 30px;
            }
        }
    }

    &__box {
        padding-top: 50px;
    }

    &__number {
        font-weight: 700;
        font-size: 27px;
    }

    &__subtext {
        font-weight: 400;
    }

    &__svg {
        margin-bottom: 10px;
    }
}

.price {
    min-height: 850px;
    height: 100vh;
    padding: 50px 0px;
    position: relative;

    &__title {
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__subtitle {
        font-size: 32px;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 18px;
        margin-bottom: 75%;
        // margin-bottom: 60%;
        min-height: 55px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__items {
        list-style: disc;
        padding-left: 20px;
        margin-bottom: auto;
    }

    &__items li {
        font-weight: 400;
    }

    &__button {
        min-height: 680px;
        padding: 30px;
        width: 360px;
        display: flex;
        position: relative;
        background-color: transparent;
        transition: color 0.5s;
        border: none;
        color: $white;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 680px;
            width: 360px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: -100;
        }

        &--operator {
            &::before {
                background-image: url('../images/operator.svg');
            }
        }

        &--leader {
            &::before {
                background-image: url('../images/leader.svg');
            }
        }

        &--scout {
            &::before {
                background-image: url('../images/scout.svg');
            }
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            -webkit-filter: brightness(90%);
        }

        &:active {
            color: $active;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }

    &__item {}

    &__form {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        overflow-y: auto;
        overflow-x: hidden;
        backdrop-filter: blur(4rem);
        padding: 3rem 0;
        display: none;
        z-index: 100;
    }

    &__modal {
        max-width: 560px;
    }

    &__images {
        width: 560px;
        height: 228px;
        object-fit: cover;
    }
}




.contacts {
    height: 100vh;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../images/besocial_illustratio.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 950px;
        height: 100%;
        width: 50%;
    }

    &__inner {
        display: flex;
        justify-content: flex-end;
    }

    &__img {
        width: 695px;
        min-height: 730px;
        object-fit: cover;
    }

    &__box {
        background-color: $silver;
        padding: 60px;
        width: 50%;
    }
}


.form {
    color: $black2;

    &__title {
        margin-bottom: 20px;
    }

    &__subtext {
        color: $black3;
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__label {
        display: block;
    }

    &__input {
        width: 100%;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 100%;
        margin-bottom: 20px;
        background-color: transparent;
        outline: none;
        padding: 20px 0px;
    }

    &__box {
        position: absolute;
        display: flex;
        align-items: center;
    }

    &__link {
        padding: 20px 60px;
        margin-bottom: 20px;
    }

    &__text {
        color: $silver2;
        font-size: 12px;
        line-height: 1.5;
    }
}

.footer {
    background-color: $black2;
    padding: 50px 50px 50px 0px;
    color: $white;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__link {
        font-size: 18px;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;
        }

        &--telegram {
            // width: 50px;
            // height: 50px;
            // background-color: $hover;
            // border-radius: 50%;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                // top: 5;
                left: 50%;
                transform: translateX(0%);
                height: 50px;
                width: 50px;
                background-image: url('../images/icons/telegram.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }

    &__logo {
        width: 180px;
        height: 28px;
    }

    &__text {
        max-width: 135px;
        font-weight: 400;
        margin-bottom: 10px;



        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__box {
        display: block;
    }

    &__inner {
        display: flex;
    }

    &__subtext {
        font-weight: 400;
        margin-bottom: 10px;
        padding-left: 30px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 20px;
            background-image: url('../images/icons/geo.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__info span {
        font-size: 18px;
        padding-left: 10px;
    }

    &__svg {
        margin-right: 10px;
    }

    &__maps {
        color: $black2;
        font-size: 14px;
        padding: 10px;
        max-width: 130px
    }
}

.modal {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    backdrop-filter: blur(4rem);
    display: none;
    font-weight: 400;
    line-height: 1.5;

    &::before {
        content: "";
        position: absolute;
        top: 2%;
        right: 2%;
        height: 30px;
        width: 30px;
        background-image: url('../images/icons/cross.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        transition: color 0.5s;
    }

    &__inner {
        top: 10%;
        position: relative;
        max-width: 560px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 22px;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        z-index: 100;
        cursor: pointer;

        span {
            height: 3px;
            width: 100%;
            background-color: $black;
            transform: scale(0);
        }

        &::before,
        &::after {
            position: absolute;
            content: '';
            height: 3px;
            width: 100%;
            background-color: $black;
        }

        &::before {
            content: '';
            // top: 0;
            top: 9px;
            transform: rotate(45deg);
        }

        &::after {
            // bottom: 0;
            bottom: 10px;
            transform: rotate(-45deg);
        }

        // &__btn span {
        //     transform: scale(0);
        // }

        // &__btn:before {
        //     transform: rotate(45deg);
        //     // top: 9px;
        // }

        &__btn::after {
            transform: rotate(-45deg);
            // bottom: 10px;
        }
    }

    &__images {
        width: 560px;
        height: 290px;
        object-fit: cover;
        display: block;
    }

    &__box {
        padding: 40px 30px;
        background-color: $white;
    }

    &__label {
        display: block;
    }

    &__input {
        display: block;
        width: 100%;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 100%;
        margin-bottom: 20px;
        background-color: transparent;
        outline: none;
        padding: 20px 0px;
    }

    &__link {
        padding: 15px 0;
        width: 100%;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 14px;
        margin-bottom: 20px;
        text-align: center;

        &--color {
            color: $silver2;
        }
    }

    &__title {
        color: $black2;
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: center;
    }
}

// .header-fixed {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 999;
//     background-color: transparent;
//     display: flex;
//     justify-content: space-between;
//     background-color: white;
//     // max-width: 1200px;
//     // margin: 0 auto;
//     // padding: 0 15px;
// }

.active-modal {
    display: flex;
}

@import 'media';